/* commons */

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* header */

.header-top{
    height: 130px;
}

.header-bottom{
    margin: 3% 0%;
    height: 450px;
}

.logo{
    border-right: 1px solid lightgray;
    padding-right: 2%;
    width: 180px;
}

.lista ul{
    display: inline-block;
    list-style-type: none;
    margin-right: 6px;
    padding: 3% 0;
    vertical-align: middle;
}

.lista a{
    text-decoration: none;
    color: gray;
}

.header-bottom{
    background-image: url('../img/banner.jpg');
    background-repeat: none;
    background-position: center;
    border-radius: 8px;
    box-shadow: inset 0 0 0 500px rgba(0,0,0,.2);
}
/* inizio main */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.cont1, .cont2, .cont3{
    float: left;
    margin-bottom: 2%;
}

.cont0{
    width: 100%;
    margin-bottom: 2%;
}

.cont1{
    width: 20%;
}

.cont2{
    width: 56%;
    margin: 0% 2%;
}

.cont3{
    width: 20%;
}

/* footer */

footer{
    height: 100px;
    margin-top: 1%;
}

/* debugs */

.debug .header-bottom {
	background-color: rgb(225, 214, 122);
}


main.debug{
    background-color: rgb(1, 134, 253);
}

.debug .cont0{
    background-color: rgb(171, 207, 231);
    height: 100px;
}

.debug .cont1{
    background-color: rgb(171, 207, 231);
    height: 700px;
}

.debug .cont2{
    background-color: rgb(171, 207, 231);
    height: 700px;
}

.debug .cont3{
    background-color: rgb(171, 207, 231);
    height: 700px;
}

footer.debug{
    background-color: rgb(136, 1, 254);
}

